/* General page styling */
body {
    font-family: Arial, sans-serif;
    /* background-image: url('./pinning.jpg'); */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

/* Container for form */
.container {
    background-color: #556B2F;
    padding: 40px; /* Add padding for more space */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

/* Form inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Submit button */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #003d66; /* SAPS Blue */
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Error message styling */
p {
    color: red;
    text-align: center;
}

/* Headings */
h1 {
    text-align: center;
    font-size: 24px;
    color: #003d66; /* SAPS Blue */
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 16px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 14px;
    }

    button[type="submit"] {
        font-size: 14px;
    }
}
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Space around the dropdown */
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Rounded corners */
  }